<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
<form>
  <label for="country">Select your country name:</label><br>
  <input type="text" id="country" name="country"><br><br>

  <label for="state">State/Province:</label><br>
  <input type="text" id="state" name="state"><br><br>

  <label for="locality">Locality Name:</label><br>
  <input type="text" id="locality" name="locality"><br><br>

  <label for="organization">Organization Name:</label><br>
  <input type="text" id="organization" name="organization"><br><br>

  <label for="unit">Organization Unit Name:</label><br>
  <input type="text" id="unit" name="unit"><br><br>

  <label for="commonName">Common Name:</label><br>
  <input type="text" id="commonName" name="commonName"><br><br>

  <label for="email">Email Address:</label><br>
  <input type="email" id="email" name="email"><br><br>
  <button type="button" (click)="submit()" id="submitButton">Submit</button>
</form>

</body>
</html>
