<app-unregistered-user-navbar></app-unregistered-user-navbar>
<div class="details-accommodation-container">
  <div class="details-accommodation-details">
    <p>Describe: {{accommodation.description}}</p>
    <p>Minimum people: {{accommodation.minPeople}}</p>
    <p>Maximum people: {{accommodation.maxPeople}}</p>
    <p>Owner: {{accommodation.maxPeople}}</p>
  </div>

  <p style="font-size: 20px;font-family: 'Adobe Fangsong Std R'">Location</p>
  <div class="details-accommodation-details" style="height: 150px;margin-bottom: 30px">
    <p>City: {{accommodation.location.city}}</p>
    <p>Street: {{accommodation.location.street}} </p>
    <p>Number: {{accommodation.location.number}}</p>
  </div>
  <p>Amenity for accommodation</p>
  <div>
    <p *ngFor="let amenity of amenities | async">{{ amenity.name }}</p>
  </div>

  <div *ngIf="accommodation.photoes.length > 0" class="photo-gallery">
    <img *ngFor="let photo of accommodation.photoes" [src]="photo" alt="Slika smeštaja" style="width: 100%; height: auto; padding: 10px; border-radius: 20px;">
  </div>
  <p style="font-size: 20px;font-family: 'Adobe Fangsong Std R'">Rating Accommodation</p>

  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)] = "startDate" placeholder="Start date">
      <input matEndDate [(ngModel)] = "endDate" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>


  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

  <button class="reservation_button" mat-raised-button color="primary" (click)="reserveAccommodation(accommodation)">Reservation accommodation</button>
</div>
<div>
  <app-review-cards></app-review-cards>
</div>
<!--<div>-->
<!--  <p *ngFor="let review of reviews$ | async">Review: {{ review.id }},{{ review.comment }} </p>-->
<!--</div>-->
<div>
  <app-map></app-map>
</div>


