<!--<app-navbar></app-navbar>-->
<div class="details-accommodation-container">
  <div class="details-accommodation-details">
    <p>Describe: {{accommodation.description}}</p>
    <p>Minimum people: {{accommodation.minPeople}}</p>
    <p>Maximum people: {{accommodation.maxPeople}}</p>
    <p>Owner: {{accommodation.owner.name}} {{accommodation.owner.surname}}  </p>
    <p>Automatic confirmation: {{accommodation.automaticConfirmation}}</p>
  </div>

  <p style="font-size: 20px;font-family: 'Adobe Fangsong Std R'">Location</p>
  <div class="details-accommodation-details" style="height: 150px;margin-bottom: 30px">
    <p>City: {{accommodation.location.city}}</p>
    <p>Street: {{accommodation.location.street}} </p>
    <p>Number: {{accommodation.location.number}}</p>
  </div>
  <p>Amenity for accommodation</p>
  <div>
    <p *ngFor="let amenity of amenities | async">{{ amenity.name }}</p>
  </div>

  <div *ngIf="accommodation.photos.length > 0" class="photo-gallery">
    <img *ngFor="let photo of accommodation.photos" [src]="photo" alt="Slika smeštaja" style="width: 100%; height: auto; padding: 10px; border-radius: 20px;">
  </div>
  <form fxLayoutAlign="stretch" fxLayout="column" class="reservation-form" [formGroup]="reservationSend" >
    <mat-form-field *ngIf="loginService.hasRole('Guest')" style="margin-top: 20px">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)] = "startDate" formControlName="startDate" placeholder="Start date">
        <input matEndDate [(ngModel)] = "endDate" formControlName="endDate" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
      <input *ngIf="loginService.hasRole('Guest')" matInput type="number" id="number-guests" formControlName="numberGuests"  placeholder="Add number guests" min="0">
    </mat-form-field>
    <button *ngIf="loginService.hasRole('Guest')" class="reservation_button" mat-raised-button color="primary" id="reservationbtn" [disabled]="!reservationSend.valid" (click)="reserveAccommodation(accommodation)">Reservation accommodation</button>
  </form>
</div>
<div>
  <app-review-cards></app-review-cards>
</div>
<div>
  <app-map></app-map>
</div>


