mat-card {
  background-color: #ADD8E6;
  color: white;
  margin: 30px
}
.b-description {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 24px;
}

.p-description {
  text-align: left;
  display: block;
  margin: 0 auto;
  font-family: 'YourChosenFont', sans-serif;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
}

.btn-stilizovano {
  width: 40%;
  align-items: center;
  background-color: #6a7979;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
  margin-bottom: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px #999;
}

