<mat-card style="border-radius: 20px">
  <mat-card-content >
    <div fxLayout="row" (click)="toDetails(accommodation.id)" >
      <div fxFlex="30%">
        <img *ngIf="accommodation.photos.length > 0" [src]="accommodation.photos[0]" id="slika_apartmana" alt="Slika smeštaja" style="width: 100%; height: auto; padding: 10px; border-radius: 20px;">
      </div>

      <div fxFlex="70%" fxLayout="column" fxLayoutGap="10px">
        <b class = "b-description" style="color:#4b4f4d">
          {{accommodation.name}}
        </b>
        <p class="p-description">Details: {{accommodation.description}}</p>
        <p class="p-description">Average rating: {{accommodation.rating}}</p>
        <p class="p-description">Price : 3000</p>
        <button *ngIf="loginService.hasRole('Owner')" (click)="openEditDialogue(accommodation.id)" >Edit accommodation</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
