mat-toolbar {
  background-color: #ffffff;
}

div {
  width: 100%;
  justify-content: flex-end;
}

button {
  margin-right: 50px;
}
form{
  margin-right: 50px;
}
mat-form-field{
  margin-right: 50px;

}

