<mat-toolbar style = "display: flex; justify-content: center; margin-bottom: 30px; height: 150px;margin-right: 50px">
  <form  [formGroup]="citiesForm" class="cities-form">
    <input style="margin-right:50px;height: 40px" id="city-input" type="text"
           placeholder="City"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <mat-form-field>
      <input matInput type="number" placeholder="Add number guests" min="0">
    </mat-form-field>
  </form>

  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-date-range-picker #picker></mat-date-range-picker>
  <button mat-raised-button color="primary" (click)="selectClicked()" style="height:50px; margin-bottom: 20px" >Select</button>
</mat-toolbar>
