  <div class="edit-profile">
    <div class="headline">
      <h1>Edit profile</h1>
    </div>
    <div class="container">
      <form>
        <div class="container">
          <form [formGroup]="profileForm" *ngIf="!showPasswordChangeForm" #passwordChangeForm>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email">
              <div *ngIf="profileForm.get('email')?.hasError('required')">Email is required</div>
              <div *ngIf="profileForm.get('email')?.hasError('email')">Invalid email address</div>
            </div>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name">
              <div *ngIf="profileForm.get('name')?.hasError('required')">Name is required</div>
            </div>

            <div class="form-group">
              <label for="surname">Surname</label>
              <input type="text" id="surname" formControlName="surname">
              <div *ngIf="profileForm.get('surname')?.hasError('required')">Surname is required</div>
            </div>

            <div *ngIf="loginService.getRole() !== 'ROLE_Administrator'">
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" formControlName="address">
              </div>

              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" formControlName="phone">
              </div>
            </div>

            <div *ngIf="loginService.getRole() === 'ROLE_Owner'">
              <div class="form-group2">
                <input type="checkbox" id="createdNotification" formControlName="createdNotification">
                <label for="createdNotification">Created Notification</label>
              </div>

              <div class="form-group2">
                <input type="checkbox" id="cancelledNotification" formControlName="cancelledNotification">
                <label for="cancelledNotification">Cancelled Notification</label>
              </div>

              <div class="form-group2">
                <input type="checkbox" id="notificationRateMe" formControlName="notificationRateMe">
                <label for="notificationRateMe">Rated me Notification</label>
              </div>

              <div class="form-group2">
                <input type="checkbox" id="notificationRateAccommodation" formControlName="notificationRateAccommodation">
                <label for="notificationRateAccommodation">Rate Accommodation notification</label>
              </div>
            </div>

            <div class="form-group2" *ngIf="loginService.getRole() === 'ROLE_Guest'">
              <input type="checkbox" id="turnNotificationOn" formControlName="turnNotificationOn">
              <label for="turnNotificationOn">Turn on Notification</label>
            </div>

            <div class="button-group">
              <div class="button-row">
                <button mat-raised-button class="delete-button" (click)="openChangePasswordDialog($event)">Change password</button>
                <button mat-raised-button class="delete-button" (click)="openCancelDialog()">Cancel</button>
              </div>

              <div class="button-row">
                <button mat-raised-button class="delete-button" color="warn" (click)="openDeleteDialog()">Delete</button>
                <button mat-raised-button class="save-button" (click)="onSubmit()">Save</button>
              </div>
            </div>
          </form>

          <form *ngIf="showPasswordChangeForm">
            <div class="dialog-container">
              <!-- Inside the form for changing password -->
              <!-- Inside the form for changing password -->
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password">
                <div *ngIf="password?.hasError('minlength')">Password must be at least 3 characters</div>
              </div>

              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword">
                <div *ngIf="confirmPassword?.hasError('passwordMismatch')">Passwords must match</div>
              </div>



            </div>

            <button mat-raised-button class="delete-button" (click)="closePasswordDialog($event)">Cancel</button>
            <button mat-raised-button class="delete-button" (click)="changePassword($event)">Change password</button>

          </form>


        </div>
      </form>
    </div>

  </div>
