<mat-toolbar>
  <span (click)="toHome()" >Booking</span>
  <div>
    <button [routerLink]="['']"  style="float: right" mat-raised-button >Profile</button>
    <button [routerLink]="['']"  style="float: right" mat-raised-button >Reservations</button>
    <button [routerLink]="['']"  style="float: right" mat-raised-button >Notifications</button>
    <button (click)="viewReviews()"  style="float: right" mat-raised-button >Reviews</button>
    <button (click)="Logout()" style="float: right" mat-raised-button >Logout</button>

  </div>
</mat-toolbar>

