<mat-toolbar>
  <span >Booking</span>
  <div>
    <button  (click)="Logout()" style="float: right" mat-raised-button >Logout</button>
    <button (click)="EditProfile()"  style="float: right" mat-raised-button >Profile</button>
    <button (click)="Aprove()" style="float: right" mat-raised-button >Approve</button>
    <button (click)="UserReports()" style="float: right" mat-raised-button >User reports</button>
    <button (click)="ReviewReports()" style="float: right" mat-raised-button >Accommodation reviews</button>
    <button (click)="ReviewOwnerReports()" style="float: right" mat-raised-button >Owner reviews</button>


  </div>
</mat-toolbar>

