<mat-toolbar>
  <span >Booking</span>
  <div>
    <button (click)="EditProfile()"  style="float: right" mat-raised-button >Profile</button>
    <button (click)="Aprove()" style="float: right" mat-raised-button >Approve</button>
    <button (click)="UserReports()" style="float: right" mat-raised-button >User reports</button>
    <button  style="float: right" mat-raised-button >Notifications</button>
    <button  (click)="Logout()" style="float: right" mat-raised-button >Logout</button>
  </div>
</mat-toolbar>

