<mat-toolbar>
  <span >Booking</span>
  <div>
    <button (click)="Logout()" style="float: right" mat-raised-button >Logout</button>
    <button (click)="viewProfile()" style="float: right" mat-raised-button >Profile</button>
    <button  (click)="addAccommodation()"  style="float: right" mat-raised-button >Add accommodation</button>
    <button   (click)="myAccommodations()" style="float: right" mat-raised-button >My accommodations</button>
    <button  (click)="viewReservations()" style="float: right" mat-raised-button >Reservations </button>
    <button  (click)="viewReports()" style="float: right" mat-raised-button >Reports </button>
    <button  (click)="viewRequests()" style="float: right" mat-raised-button >Requests </button>
    <button   (click)="home()" style="float: right" mat-raised-button >Home</button>

  </div>
</mat-toolbar>
